@media only screen and (max-width: 1024px) {
    .burgerButton {
        display: flex;
        width: 56px;
        border: 1px solid blue;
        height: 56px;
        flex-wrap: wrap;
        background: transparent;
        flex-direction: column;
        padding:0;
        box-sizing: border-box;
        justify-content: space-around;
        cursor: pointer;

    }
    .burgerButton:focus {
        outline: none;
    }
    .burgerButton div {
        background: black;
        height: 7px;
        width: 56px;
        border-radius: 5px;
        transition: ease-in .3s;
    }
    .tLine .line1 {
        transform: rotate(-45deg) translate(-12px,12px);
    } 
    .tLine .line2 {
        opacity:0;
    } 
    .tLine .line3 {
        transform: rotate(45deg) translate(-12px,-12px);
    } 
   
}