

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .sideDrawerNav ul {
        position: fixed;
        display: flex;
        width: 60%;
        background: #521751;
        height: 91vh;
        top: 9vh;
        flex-direction: column;
        right: 0px;
        align-items: center;
        justify-content: space-around;
        transition: 2s;
        z-index: 2;
    }
   
    .sideDrawerNav li{
        list-style: none;
        border: 1px solid blue;
        height: fit-content;
        position: relative;
        top: 37%;
        font-size: 2em;
        opacity: 0;
    }
    .sideDrawerNav a{
        border: 1px solid blue;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        

    }
    .sideDrawerNav a:hover {
        background-color: grey;
        color: green;
        text-decoration: none;
    }
    .sideDrawerNav a:active {
        color: blue;
        text-decoration: none;
    }
    .sideDrawerNav {
        transform: translateX(100%);
    }
    .SD {
        transform: translateX(0%);
        transition: 1s;
    }
    @keyframes SDfade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}